{% extends "eco_hunter/base.html" %}
{% block title %} ЭкоHunter-Заявка {{ requestion.id }} {% endblock %}
{% load static %}
{% block content %}
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        {% for task in imgs %}
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for img in imgs %}
      <div class="carousel-item {% if forloop.first %}active{% endif %} image-container">
        {% if img.img_with_boxes_seg %}
        <img src="{{ img.img_with_boxes_seg.url }}" class="img-fluid">
        {% else %}
        <img src="{{ img.img_with_boxes_det.url }}" class="img-fluid">
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
  <div class="desc_container">
    <h1>Заявка №{{ requestion.id }}</h1>
    <ul class="req_status">
      <li class="req_statusItem">Дата подачи: {{ requestion.date_time }}</li>
      <li class="req_statusItem">Вид отходов: {{ requestion.pred_status }}</li>
      {% if requestion.fraction_status_danger %}
      <li class="req_statusItem">На некоторых фото распознано {{ requestion.fraction_status_danger }} мусора</li>
      {% endif %}
      {% if requestion.fraction_status_nondanger %}
      <li class="req_statusItem">На некоторых фото распознано {{ requestion.fraction_status_nondanger }} мусора</li>
      {% endif %}
      <li class="req_statusItem"><a href="https://www.google.com/maps/place/{{ requestion.address }}/@{{ requestion.latitude }},{{ requestion.longitude }},17z">Ближайший адрес: {{ requestion.address }}</a></li>
      <li class="req_statusItem">Описание: {{ requestion.description }}</li>
    </ul>
  </div>
</div>
{% endblock content %}

